<div class="body_cover">
  <div class="user_index">
      <h1>othershine</h1>
      <%= link_to "戻る", root_path, class: "btn btn-default" %><%= paginate @users %>
        <div class="users_cover">
          <% @users.each do |user| %>
            <div class="users_index_other">
              <%= link_to user.name, user_path(user) %>
              <% unless user.myshines.blank? %>
                <div class="slider">
                    <% user.myshines.limit(3).each do |myshine| %>
                      <img src="<%= myshine.image %>">
                    <% end %>
                </div>
              <% end %>
        
            </div>
          <% end %>
        
        </div>
  </div>
</div>