<% myshines.each do |myshine| %>
  <div class="post_detail">
    <% time_japan = Time.now.getlocal("+09:00") %>
    <p><%= myshine.created_at.strftime("%Y年 %m月 %d日") %></p>
    <% if current_user == @user %>
      <%= link_to myshine, method: :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    <% end %>
    <a class="popup" href="<%= myshine.image %>"><img src="<%= myshine.image %>"></a>
  </div>  
<% end %>

    
