@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
     font-size: 18px
 }
 @media (min-width: 769px) {
    
    .sp {
        display: none
    }
    .navbar {
         background-color: #f79f07;
         vertical-align: top;
     }
     .navbar h3 {
         margin: 0;
     }
    .navbar-left {
         margin: 1% 0 1% 10%;
     }
    .navbar a {
         color: white;
     }
    .navbar_guide {
         width: 38%;
         margin: 1% 10% 0 0;
         display: inline-block;
         float: right;
         color: white;
    }
    .navbar_guide li  {
        float: right;
        list-style: none;
        display: inline-block;
        margin-left: 7%;
    }
    /*---------------------ここからtoppage*/
    /* body.toppages_index .navbar {*/
    /*    display: none*/
    /*}*/
    .body_cover {
        width: 80%;
        margin: 3% auto 0 auto;
        background-color: #eaf2f4;
        border-top: 1px solid white;
    }
    .toppage_left {
        width: 40%;
        padding: 7% 0 7% 0;
        margin: 5%;
        display: inline-block;
        vertical-align: top;
    }
    .toppage_left .maintitle {
        text-align: center;
        color: #f79f07;
    }
    .toppage_left .maintitle p {
        font-size: 130px;
        display: inline-block;
        margin: 0;
    }
    .toppage_left .sabtitle {
        margin: 0 auto 10% auto;
        text-align: center;
    }
    .toppage_left .sabtitle p {
        font-size: 20px;
        color: #f79f07;
        display: inline-block;
        margin: 0;
    }
    .toppage_left a {
        color: white;
    }
    .toppage_button {
        margin: auto;
        width: 55%
    }
    .toppage_left .word {
         background-color: #f79f07;
         display: inline-block;
         padding: 2%;
    }
    .toppage_left .word p {
        font-size: 20px;
        display: inline-block;
        margin: 0;
    }
    .toppage_left .shine {
        background-color: #f79f07;
        display: inline-block;
        padding: 2%;
        float: right;
    }
    .toppage_left .shine p {
        font-size: 20px;
        display: inline-block;
        margin: 0;
    }
    .toppage_right {
        width: 40%;
        padding: 25% 0;
        background-color: #f79f07;
        margin: 5% 0 4% 5%;
        display: inline-block;
    }
    .infrom {
        text-align: right;
        display: inline;
    }
    .infrom p {
        margin: 1% 5% 0 0;
    }
    /*--------------------ここまでtoppage*/
     /*----------------------ここからtoppageのログインご*/
     .toppage {
         background-image: url("toppagelogin.jpeg");
         background-size: cover;
         padding: 33% 0 2% 0;
         border-radius: 10px;
     }
     .main {
         margin-left: 10%;
         width: 30%;
     }
     .shine {
         display: inline;
     }
     .shine img {
         width: 40%;
         margin-bottom: 2%;
     }
     .word {
         display: inline;
     }
     .word img {
         width: 40%;
          margin-bottom: 2%;
     }
     .ranking {
         display: inline;
     }
     .ranking img {
         width: 40%;
          margin-bottom: 2%;
     }
      .othershine {
         display: inline;
     }
     .othershine img {
         width: 40%;
     }
    /*----------------------ここからuser_new*/
    
    .usernew h1 {
        margin-bottom: 15%
    }
    .usernew {
        color: #f79f07;
        margin: 0 auto;
        padding: 5% 0 5% 0;
        /*margin-top: 10%;*/
        width: 60%;
        text-align: center;
    }
    .usernew .form-group {
        margin-bottom: 5%;
    }
    .usernew .btn {
        margin-top: 10%;
    }
     /*----------------------ここまでuser_new*/
     /*----------------------ここからsession_new*/
    .sessionnew {
        color: #f79f07;
        margin: 0 auto;
        padding: 10% 0 17% 0;
        /*margin-top: 10%;*/
        width: 60%;
        text-align: center;
    }
    .sessionnew h1 {
        margin-bottom: 15%
    }
    .sessionnew .form-group {
        margin-bottom: 5%;
    }
    .sessionnew .btn {
        margin-top: 10%;
    }
     /*----------------------ここまでsession_new*/
     /*----------------------ここからuser_edit*/
     .useredit {
        color: #f79f07;
        margin: 0 auto;
        padding: 5% 0 5% 0;
        /*margin-top: 10%;*/
        width: 60%;
        text-align: center;
    }
    .useredit .form-group {
        margin-top: 5%;
    }
    .useredit .btn {
        margin-top: 4%;
    }
     /*----------------------ここまでuser_edit*/
 }
 @media (max-width: 768px) {
     /*---------------------ここからtoppage*/
     body {
         background-color: #eaf2f4;
     }
    .pc {
     display: none
 }
    .navbar {
     background-color: #f79f07;
     margin: 0;
 }
    .navbar-left {
        padding: 5% 0 5% 10%;
        display: inline-block;
 }
    .navbar-left h3 {
        margin: 0;
    }
    .navbar-left a {
     color: white;
 }
    .glyphicon {
         color: white;
         font-size: 30px;
     }
    .navbar-right {
        text-align: center;
        display: inline-block;
        float: right;
        margin: 6% 8% 5% 0;
    }
    .toppage_right {
        background-color: #f79f07;
        width: 100%;
        padding: 30% 0;
    }
    .box {
        overflow: hidden; 
        width: 100%;
        margin-right: 10%;
        text-align: center;
        list-style: none;
        color: white;
    }
    .box a {
        color: white;
    }
    .box li {
        width: 100%;
        border-bottom: solid thin white;
    }
    .body_cover {
        width: 100%;
        background-color: #eaf2f4;
    }
    .toppage_right {
        width: 100%;
        background-color: #f79f07;
        padding: 50% 0;
        margin: 20% 0;
    }
    /*--------------------ここまでtoppage*/
    /*--------------------ここからoppageのログイン*/
    .toppage {
         background-image: url("toppagelogin.jpeg");
         background-size: cover;
         padding: 33% 0 19% 0;
     }
    .main {
        margin: auto;
        width: 95%;
        font-size: 0;
        margin-top: 100%;
    }
    .shine {
         display: inline;
     }
     .shine img {
         width: 25%;
         
     }
     .word {
         display: inline;
     }
     .word img {
         width: 25%;
     }
     .ranking {
         display: inline;
     }
     .ranking img {
         width: 25%;
         
     }
      .othershine {
         display: inline;
     }
     .othershine img {
         width: 25%;
     }
    /*--------------------ここからusernew*/
    .usernew {
        width: 100%;
        color: #f79f07;
        padding: 15% 0 20% 0;
        /*margin-top: 10%;*/
        text-align: center;
    }
    .usernew h1 {
        margin-bottom: 10%
    }
    .usernew .form-group {
        margin:0 auto 7% auto;
        width: 80%;
        
    }
    .usernew .btn {
        margin-top: 10%;
    }
    /*--------------------ここまでusernew*/
    /*--------------------ここからsessionnew*/
    .sessionnew {
        width: 100%;
        color: #f79f07;
        padding: 20% 0 20% 0;
        /*margin-top: 10%;*/
        text-align: center;
    }
    .sessionnew h1 {
        margin-bottom: 30%
    }
    .sessionnew .form-group {
        margin:0 auto 10% auto;
        width: 80%;
        
    }
    .sessionnew .btn {
        margin-top: 15%;
    }
    /*--------------------ここまでsessionnew*/
    /*--------------------ここからuser_edit*/
    .useredit {
        width: 100%;
        color: #f79f07;
        padding: 10% 0 20% 0;
        /*margin-top: 10%;*/
        text-align: center;
    }
    .useredit .form-group {
        margin: 7% auto 0 auto;
        width: 80%;
        
    }
    .useredit .btn {
        margin-top: 5%;
    }
     /*--------------------ここからuser_edit*/
 }