<ul>
  <li>
    <h3>1</h3>
    <p>左上にあるshineというボタンを押すことで、トップページに移動することができます。</p>
  </li>
  <li>
    <h3>2</h3>
    <p>自分のページはmyshineから入ることができます。画像を投稿したい場合は、
  先にタイトル投稿し、タイトルをクリックしてタイトル画面に移動してから、画像を投稿することができます。</p>
  </li>
  <li>
    <h3>3</h3>
    <p>othershineでは、アカウントを公開設定にしているユーザを表示しています。</p>
  </li>
  <li>
    <h3>4</h3>
    <p>掲示板では好きな(タイトルを作成して頂くこともできます。)タイトルをクリックし、そのページでコメントを入力することができます。
        多くの交流を楽しんでください。</p>
  </li>
  <li>
    <h3>5</h3>
    <p>ランキングでは、公開設定にしているユーザの中で、より多く閲覧されているユーザをランキング形式で表示しています。</p>
  </li>
   <li>
    <h3>6</h3>
    <p>ユーザ詳細からいつでも公開・非公開設定が行えます。</p>
  </li>
</ul>