
<ul>
  <li><h3>1</h3>
  <p>まず第一に左上にあるshineというボタンを押すことで、このトップページに移動することができます。</p>
  </li>
  <li><h3>2</h3>
  <p>自分のページはmyshineから入ることができます。画像を投稿したい場合は、
  先にタイトル投稿し、そのタイトル画面に移動してから、画像を投稿することができます。(タイトルを投稿すると、タイトル一覧が表示されます)。</p>
  </li>
  <li><h3>3</h3>
  <p>othershineでは、アカウントを公開しているユーザを表示しています。</p>
  </li>
  <li><h3>4</h3>
  <p>掲示板では好きな(タイトルを作成して頂くこともできます。)タイトルをクリックし、そのページでコメントを入力することができます。
  多くの交流を楽しんでください。</p>
  <li><h3>5</h3>
  <p>右上の設定アイコンをクリックすると、ユーザ詳細があるので、ユーザ詳細ページから、ユーザ名やアカウント公開・非公開設定を変更することができます。</p>
</ul>